@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Raleway:wght@700&display=swap");

:root {
  --link-color: #ffffff;
  --text-active: #ff6c00;
  --link-hover-color: #f0883e;
  --link-active-color: #ff6c00;
  --link-social-color: #303030;
  --link-social--hover-color: #ff6c00;
  --text-font-family: "Open Sans", sans-serif;
  --heading-font-family: "Raleway", sans-serif;
  --text-color: #9da4bd;
  --text-alternate-color: ##303030;
  --subheading-color: #9da4bd99;
  --heading-color: #ffffff;
  --social-icon-background-color: #ffffff;
  --social-icon-color: #303030;
  --social-icon-hover-color: #FF6C00;
  --heading-alternate-color: #303030;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--text-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  font-family: var(--heading-font-family);
}

h2 {
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.05em;
}

ul {
  list-style-type: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.button {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
}

.global-aside {
  background: white;
  display: flex;
  flex-direction: column;
  flex: 0 1 155px;
  align-items: center;
  justify-content: space-between;
  padding: 55px;
}

.global-aside-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.global-aside-links>* {
  margin-top: 40px;
}
.global-header{
  display: none;
}

.header-container {
  background: #363636;
  display: flex;
}

.header-container-content {
  background: linear-gradient(rgba(25, 28, 38, 0.50), rgba(25, 28, 38, 0.20)), url('./images/cover-hero3.jpg');
  flex: 1 0 auto;
  padding: 40px 55px 40px 100px;
}

img.dash {
  width: 60px;
  height: 1px;
}

/* Global Header */
.global-header a {
  color: var(--link-color);
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  text-decoration: none;
}

.section.global-header-content {
  background: transparent;
  margin-top: 204px;
  padding: 0;
}

.global-header-book-btn {
  margin-left: 40px;
}

.global-header .main-navigation {
  display: flex;
  justify-content: space-between;
}

.global-header .main-navigation ul {
  display: flex;
  padding-inline-start: 0;
}

.global-header .main-navigation ul li+li {
  margin-left: 40px;
}

.global-header .main-navigation a,
.global-header .main-navigation a:visited {
  letter-spacing: 0.1em;
}

.global-header .main-navigation .phone-number {
  text-transform: uppercase;
}

.global-header a.active {
  color: var(--link-active-color);
}

.global-header a:hover,
.global-header a:focus {
  color: var(--link-hover-color);
}

a.social-link {
  color: var(--link-social-color);
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.2em;
}

a.social-link:hover,
a.social-link:focus {
  color: var(--link-social--hover-color);
}

.centered-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Section Generic */
.section {
  background: #363636;
  color: var(--text-color);
  letter-spacing: 0.02em;
  display: flex;
  padding: 40px;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

.section-heading {
  margin-top: 20px;
  font-size: 37px;
  line-height: 49.31px;
  letter-spacing: 0.05em;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.section-heading+* {
  margin-top: 20px;
}

.section address {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.section address a {
  color: var(--text-color);
}

.section address a:hover,
.section address a:focus {
  color: var(--link-color);
}

.section .section-sub-heading {
  font-size: 11px;
  line-height: 14.98px;
  color: var(--subheading-color);
}

.section h1,
.section h2 {
  color: var(--heading-color);
}

.section--light {
  background: #ffffff;
  color: #555555;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

.section--light h1,
.section--light .section-heading,
.section--light .section-sub-heading {
  color: var(--heading-alternate-color);
}

.heading-with-dash {
  display: flex;
  align-items: center;
}

.heading-with-dash h3 {
  margin-left: 20px;
  text-transform: uppercase;
}

.hero-heading {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 85px;
  letter-spacing: 0.05em;
  color: var(--heading-color);
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.control-buttons {
  margin-top: 142px;
  display: flex;
  justify-content: flex-end;
}

.small-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.02em;
}

.section-description>*+* {
  margin-top: 20px;
}

.section-with-gray-bg {
  background: #f7f7f7;
}

.section-with-two-columns {
  display: flex;
}

.section-with-two-columns>*:nth-child(2) {
  margin-left: 64px;
}

.section-with-two-columns>* {
  flex: 0 1 50%;
}

.section-images {
  display: flex;
}

.section-images img+img {
  margin-left: 30px;
}

.about-section .button {
  margin-top: 40px;
}

.subheading-with-dash::before {
  content: "";
  display: inline-block;
  background: rgba(157, 164, 189, 0.4);
  height: 1px;
  width: 60px;
  margin-right: 20px;
  vertical-align: middle;
}

.subheading-with-dash {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  /* identical to box height */

  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #ffffff;
}

/* Why Us */

.why-us-list {
  display: flex;
  flex-wrap: wrap;
}

.why-us-list .feature {
  width: 200px;
text-align: center;
margin: 30px;
  margin-top: 30px;
background-color: #454b60 ;
height: 180px;
display: flex;
justify-content: center;
align-items: center;
margin: ;
padding: 15px;
}

.why-us-list .feature:nth-child(2n) {
  margin-top: 75px;
}

.why-us-list .feature-title {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 42px;
  line-height: 57px;
  letter-spacing: 0.05em;
}

.why-us-list .feature-title sup {
  color: var(--text-active);
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  top: -24px;
}

.why-us-list .feature-description {
  width: 122px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
  color: #f7f7f7;
}
.why-us-list .feature-title{
  color:#ff6c00;
}

/* List */
.barbers-list {
  display: flex;
  flex-direction: column;
}

.barbers-list li {
 font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.02em;
  margin: 20px;
}

.barbers-list li+li {
  margin-left: 30px;
}

.barbers-list li em {
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--text-active);
}

.prices-section {
  background:  #191c26;
}

.prices-section .button {
  margin-top: 50px;
}

.prices {
  margin-top: 46px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 0;
}

.prices-list {
  flex: 1 0 auto;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.prices-list li {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.prices-list li span {
  flex: 0 1 content;
}

.prices-list li .prices-dash {
  flex: 1 0 auto;
  height: 1px;
  background: #9da4bd1f;
}

.prices-list li>span+span {
  margin-left: 6px;
}

/* Motto */
.motto-cards {
  margin-top: 40px;
  display: flex;
  gap: 30px;
  justify-content: space-between;
  flex-direction: column;
}

/* Booking and Contact Section */
.booking-and-contact-section {
  display: flex;
}

.booking-and-contact-section>.section {
  flex: 1 0 auto;
}

.booking-and-contact-section .section:nth-child(2) {
  padding-left: 100px;
}

.button-transparent {
  margin-top: 232px;
  outline: none;
  background: transparent;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  padding: 12px 38px;
  width: 160px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #ffffff;
}

.booking-form {
  background: #191c26;
}

.contacts-address {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 40px;
}

.contacts-address .contact-address-item {
  gap: 20px;
  display: flex;
  font-style: normal;
}

.working-hours {
  margin-top: 70px;
}

.working-hours p {
  margin-top: 20px;
}

.contact-section {
  background: url('./images/contact-section-bg.png') #191c26;
}

.icons-list {
  display: flex;
  margin-top: 30px;
  gap: 10px;
  justify-content: center;
}

.icons-list .icon {
  width: 44px;
  height: 44px;
  background-color: var(--social-icon-background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 22px;
  color: var(--social-icon-color);
}

.icons-list .icon:hover,
.icons-list .icon:focus {
  color: var(--social-icon-hover-color);
}

.icons-list .icon svg {
  width: 20px;
  height: 20px;
}

.hero-sub-heading, .heading-with-dash{
  color: #ffffff;
}
/* .contact-address-item svg {
  stroke: red;
} */
.cifre {
  display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 50px;
border: 5px #f0883e solid;
background-color: #454b60;
color: white;
}
.cifre img{
border: 2px solid #f0883e;
margin-top: 50px;
}
.cifre.cifre-section-heading h2{
  color: #f0883e;
}

.book-a-service-btn, .contact-address-item{
  background-color: transparent;
  border-radius: 25px;
  border: 1px solid #FF6C00;
  cursor: pointer;
  color: #fff;
  outline: none;
  margin-left: 40px;
  padding: 12px 25px;
}

.book-a-service-btn:focus, .contact-address-item:focus, .contact-address-item:hover,
.book-a-service-btn:hover {
  background-color: #FF6C00;
}
.telefon{
  width:250px;
  text-decoration: none;
  background-color: rgb(10, 33, 247);
  color: #fff;
}
.facebook{
  width:250px;
  text-decoration: none;
  background-color: #4267B2;
  color: #fff;
}

.whatsapp{
  width:250px;
  text-decoration: none;
  background-color: #25d366;
  color: #fff;
}

.email{
  width:250px;
  text-decoration: none;
  background-color: #7b0099;
  color: #fff;
}
.contacts.email .contact-address-item .link{
  color: #fff;
}

#yahoo-mail, #fb-page, #tel-mobil, #whatsapp-adress{
  color: #fff;
}
#first-tel{
  background-color: transparent;
  border-radius: 25px;
  border: 1px solid #FF6C00;
  cursor: pointer;
  color: #fff;
  outline: none;
  margin-left: 40px;
  padding: 12px 25px;
}
#first-tel:focus, #first-tel:hover{
  background-color: #FF6C00;
}
#period{
  color:#f0883e
}
.footer-design{
  background-color: #38393c;
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  color:#f0883e;
 padding:30px;
}

.electrician-valeni{
  color:white;
  outline: none ;
  cursor: pointer;
  text-decoration: none;
}

.electrician-valeni:focus, .electrician-valeni:hover{
  color: #f0883e;
}
.contact-section{
  display: flex;
justify-content: space-evenly;
}

.contacts-logo-section, .working-hours{

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

/* Mobile navigation menu */

.containex {
  margin-left: auto;
margin-right: auto;
display: flex;
align-items: center;
justify-content: space-between;
min-height: 80px;
}
.sigla-mobile{
  width: 50%;
  padding: 16px 15px;
}
.menu-mobile-btn{
  
  display: flex;
justify-content: end;
padding: 10px 15px;
position: absolute;
top: 10px;
right: 15px;
}
.menu {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #303030;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: auto;
  opacity: 0.9;
}

.modal-content {
  padding: 16px;
  background-color: #fff;
  
  margin: 0 auto;
  
  position: relative;
  box-sizing: border-box;
  
}

.is-hidden {
  visibility: hidden;
  transform: scale(1.1);
}

.close-btn {
  background-color: white;
  border: 2px solid rgba(0, 0, 0, 0.10);
  color: black;
  cursor: pointer;
  outline: none;
  position: absolute;
  right: 16px;
  top: 16px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:focus,
.close-btn:hover {
  background-color: #fff;
}
ul{
  margin-bottom: 0;
}


.top{
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  opacity: 0;
  color: #FFF;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 155.556% */
letter-spacing: 0.54px; 
padding: 50px, 24px;
}
.top{
  background: linear-gradient(#AFB1B8, #AFB1B8, #2196F3 50%, #2196F3);
  background-size: 100% 200%;
  height: 5%;
  /*trasition effect for background*/
  transition: height 2s, transform 2s ;
bottom:0;
}

.top:hover{
  background-position: 100% 100%;
  opacity: 0.9;
  padding: 30px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
height:100%;

  
}
.effect{
  position:relative;
}
.overlay-img1{
  position:absolute;
  bottom:0;
}

.info-modal{
  display: flex;
  flex-direction: column;
  padding: 20px 20px 0 20px;
  gap: 30px;
  box-sizing: border-box;
}


@media (max-width: 767px) {
  .menu {
    display: none;
  }
}

.menu .link {
  padding: 10px;
  color: inherit;
  text-decoration: none;
}

.menu .link:hover,
.menu .link:focus {
  text-decoration: underline;
}

.menu-toggle {


  margin: 0;
  padding: 0;
  
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
 
}


.menu-toggle:hover,
.menu-toggle:focus >button{
  color:#ff6c00;
  
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 32px 0;
  background-color: #fff;
  
transform: translateX(100%);
  transition: transform 250ms ease-in-out;
display: flex;
flex-direction: column;

}

.menu-container.is-open {
  transform: translateX(0);
}
.aranjare-btn{

}



.menu-container .menu-toggle {
  
top: 40px;
right: 30px;
color: #212121;
width: 40px;
height: 40px;
position: absolute;
  
}

.menu-container .menu-toggle:focus, .menu-container .menu-toggle:hover{
  color:#ff6c00;
}
.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  
}

.mobile-menu .link {
  display: block;
padding: 5px;
text-decoration: none;
color: #212121;
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.8px;
margin: 10px 20px;



}
.mobile-menu .link:hover, .mobile-menu .link:focus{
  color:#ff6c00;
}

.first-half-section-mobile-menu{
  display: flex;
 
}

.second-half-section-mobile-menu{
  display: flex;
  flex-direction: column;
  padding-top: 150px;
}
.contacts-mobile-link{
  gap: 32px;
display: flex;
flex-direction: column;
padding-bottom: 64px;
}
.menu-mobile-tel{
  color: #ff6c00;
font-family: Roboto;
font-size: 34px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.68px;
text-decoration: none;
}

.menu-mobile-mail{
  color: #757575;
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.48px;
text-decoration: none;

}
.menu-mobile-social-links{
  display: flex;
gap: 10px;
width: 100%;
flex-wrap: wrap;

align-items: center;
  
}
.deco-line{
  width: 1px;
  height: 22px;
background: rgba(33, 33, 33, 0.20);
}
.menu-mobile-social-links-instagram, .menu-mobile-social-links-twitter, .menu-mobile-social-links-facebook, .menu-mobile-social-links-linkedin{
  color: #2196F3;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 22px; /* 122.222% */
letter-spacing: 0.36px;
text-decoration: none;
}


.detail-list-item{width: 100%;}

.mobile-attention{

}

.details-area-mobile{
margin-top: 60px;
}

.global-header-mobile{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.section-description-mobile{
  display: flex;
  flex-direction: column;
  width: 100%
}
.dash-mobile{
  display: none;
}
.hero-heading-mobile{
  font-size: 60px;
}
.section-images{
  display: none;
}




.header-container-content-mobile{
 background: linear-gradient(rgba(25, 28, 38, 0.50), rgba(25, 28, 38, 0.20)), url('./images/cover-hero4.jpg');
  display: flex;
  padding: 40px;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

.why-us-section{
  display: none;
}


@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

/* Tablet design */
@media screen and (min-width: 768px) {

.global-header{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.menu-container{
  display: none;
}
.hero-heading-mobile{
  font-size: 72px;
}
.header-container-content-mobile{
   background: linear-gradient(rgba(25, 28, 38, 0.50), rgba(25, 28, 38, 0.20)), url('./images/cover-hero3.jpg');
  
}
.section-images{
  display: flex;
}

.prices {
  margin-top: 46px;
  display: flex;
  flex-direction: row;
  
}
.prices-list{
  flex: 1 0 auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: var(--text-color);
  padding: 30px 40px;
}

.why-us-section{
  display: flex;
}
.barbers-list {
  display: flex;
  flex-direction: row;
}
.motto-cards{
  flex-direction: row;
}
}
/* Desktop design */
@media screen and (min-width: 1280px) {

}